.main{
  width: 100%;

}
.HomeBar{
  display: flex;
  padding: 10px;
  border-bottom: 2px solid rgb(201, 199, 199);
  color:red;
}
.image{
  object-fit: contain;
}
/*_______________*/
.Content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.205);
}
.GeneralContainer{
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Title{
  font-size: 4rem;
  margin-left:10px;
  width: 100%;
}
.buttonContainer{
  display: flex;
  gap: 20px;
  min-width: 70%;
  margin-left:10px;
  height: 60px;
  justify-content: center;
}

.button1{
  display: block;
  border: 3px solid #ECA944;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
}
.button2{
  color:#fff;
  display: block;
  border-radius: 5px;
  border: 3px solid #ECA944;
  background-color: #ECA944;
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
}

.ContainerImageDog{
  background-image: url('../public/DogAndGirl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 850px) {
  .ContainerImageDog{
    position: absolute;
    opacity: .5;
    z-index: -1;
    width: 100%;
    height: 100vh;
  }
  .Title{
    text-align: start;
  }

}
@media screen and (max-width: 350px){
  .Title{
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 850px) {
  .ContainerImageDog{
    position: absolute;
    opacity: .4;
    z-index: -1;
    width: 100%;
    height: 100vh;
  }
  .Title{
    text-align: center;
  }
  .buttonContainer{
    justify-content: end;
  }
}
.ExploreCont{
  cursor: pointer;
  font-size: 1.3rem;
  width: 40%;
  margin: 40px auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media screen  and (max-width: 850px) {
  .ExploreCont{
    margin-top: 30px;
    width: 90%;
  }
}
@media screen  and (min-width: 850px) {
  .ExploreCont{
    border-bottom: 2px solid #000;
    margin-top: 40px;
  }
}
.Explore{
  font-size: 1.4rem;
  color: rgb(0, 87, 250);
  padding: 6px;
  border-radius: 5px;
}

.section2{
  display: flex;
  flex-direction: column;
  text-align: center;
}