

.ContainerImg{
  width: 100%;

}

.ContainerForm{
  width:100%
}

@media screen and (min-width:1000px){
  .ContainerImg{
    width: 40%;
  }
  .ContainerForm{
    width: 60%;
  }
}

@media screen  and (min-width:3000px){
  .allContent{
    width: 2000px;
    margin:auto
  }
}