.select{
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    font-size: 1.5rem;
    color:rgba(0, 0, 0, 0.6);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    min-width: 300px;
}
.select:hover{
    cursor: pointer;
}