.container {
  display: flex;
  flex-direction: column;
}
.img {
  z-index: -1;
  top: 0%;
  position: absolute;
  width: 100%;
}
.title {
  font-size: 4.5rem;
  text-align: center;
  font-style: italic;
}
.grid_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  width: 70%;
  gap: 40px;
  padding: 15px;
}
.input {
  max-width: 700px;
  width: 70%;
  min-width: 250px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.384);
  padding: 15px;
  font-size: 1.5rem;
}
/*
.input:-webkit-autofill  {
  -webkit-box-shadow:200px 200px 100px white inset; 
  box-shadow:200px 200px 100px white inset; 
}*/
.submit {
  cursor: pointer;
  min-width: 200px;
  font-size: 2rem;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(180deg, #ffc727 0%, #ff9900 100%);
}
.space_p {
  font-size: 1.5rem;
}
/*_________________________________________________________________*/
.section {
  background-color: #aaa8a527;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}
/*_____________*/
.containerImgText{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerImg {
  width: 100%;
  display: inline-block;
  min-width: 320px;
  padding: 20px;
  background-color: #9b886b;
}
.textimg{
  text-align: center;
  font-size: 2rem;
  position: absolute;
  background-color: rgba(238, 234, 234, 0.589);
  border-radius: 30px;
  padding: 10px;
}
/*_____________*/
.form {
  padding: 40px;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: rgba(185, 183, 183, 0.205);
  min-width: 320px;
}
@media screen and (max-width:1200px){
  .textimg{
    padding: 0;
    font-size: 1.8rem;
  }
}
@media screen and (max-width:800px){
  .form{
    width: 100%;
  }
  .containerImgText{
    width: 100%;
  }
  .textimg{
    padding: 0;
    font-size: 1.5rem;
  }
}

.nav{
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.anav{
  bottom: 0;
  border-radius: 40px;
  background-color: #9b886b;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}